@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

%font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-smooth: always;
	text-rendering: optimizeLegibility;
}

/* universal */

body {
	padding-top: 72px;

	@extend %font-smoothing
}
.jumbotron {
	text-align: center;

	h1 { font-weight: lighter; }
	h3 { font-weight: normal; }
}

/* typography */

.btn {
	margin-top: 20px;
	margin-bottom: 10px;
}