<footer class="navbar navbar-default navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header pull-right">
				<%= link_to raw("&copy; MMXIV &ndash; MMXV"), "#", class: "navbar-brand" %>
			</div>
			<nav class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-left">
					<li><%= link_to "About", 	about_path %></li>
					<li><%= link_to "Contact", 	contact_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>